fastapi
uvicorn[standard]
sqlalchemy
psycopg
psycopg-binary
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-dotenv
python-multipart
passlib[bcrypt]
bcrypt
pyjwt
stellar-sdk
requests
httpx